<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Closed</title>
</head>
<body>
<div class="closed">
  <h1 style="color: red; text-align: center; padding-top: 50px;"> SORRY WE ARE CLOSED </h1>
  <h4 style="color: red; text-align: center; "> We are only available during working hours   </h4>
  <h5 style="color: red; text-align: center; "> Monday to Friday,  from 9 to 17</h5>
</div>
</body>
</html>
